<%= simple_form_for [interview, chat], class: "app-form" do |f| %>
  <div class="app-form-card">

    <%= f.input :title,
        label: "Titre",
        placeholder: "ex. Pré-qualif RH",
        input_html: { class: "app-form-input" },
        label_html: { class: "app-form-label" },
        wrapper: false %>

    <%= f.collection_radio_buttons :chat_role_id, ChatRole.all, :id, :title do |b| %>
      <%= b.label { b.radio_button + b.text } %>
    <% end %>

    <div class="app-form-actions">
      <%= link_to "Annuler", interviews_path, class: "btn-secondary" %>
      <%= f.submit "Commencer", class: "btn-primary" %>
    </div>

  </div>
<% end %>
