<div class="chat-show">
  <div class="chat-header">
    <div class="chat-header-title">
      <h1><%= @chat.title %>, pour <%= @interview.job_title %></h1>
      <p class="chat-subtitle">Recruteur <%= @chat_role.title %></p>
    </div>
    <button class="btn btn-outline-secondary">Générer mes feedbacks</button>
  </div>

  <div class="chat-module-card">
    <div id="messages">
      <%= render "messages/messages", messages: @chat.messages %>
    </div>
    <div id="new_message_container">
      <%= render "messages/form", chat: @chat, message: @message %>
    </div>
  </div>
</div>
